<main [class.theme1]="isTheme1" [class.theme2]="!isTheme1">
  <app-firstname></app-firstname>
  <button
    (click)="toggleTheme()"
    class="bg-primary1 p-2 text-pr rounded-md text-primary2"
  >
    Change Theme
  </button>
  <p class="text-green-200">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque dolor animi
    odio libero, tempore iusto veritatis minus aspernatur ullam labore illo
    explicabo cupiditate autem. Quis, reprehenderit! Hic et accusantium saepe.
  </p>
</main>

<router-outlet />
